
.btn-primary
{
  padding: 10px 20px 10px 20px;
  background-color: blue;
  color: white;
  border-radius: 8px;
}

.btn-danger
{
  padding: 10px 20px 10px 20px;
  background-color: red;
  color: white;
  border-radius: 8px;
}

.btn-warning 
{
  padding: 10px 20px 10px 20px; 
  background-color: orangered;
  color: white;
  border-radius: 8px;
}